<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HaiTunJia.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD51D3DF1BB6A90F00A75753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD51D3F81BB6A90F00A75753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD51D4031BB6A90F00A75753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
